{{> navbar}}
<a onclick="window.history.back()">
	<button class="go-back">
		<i class="material-icons">arrow_back</i>
	</button>
</a>

<main>
	<h1>Error al ingresar los datos</h1>
	<h2>Ya existe un equipo con ese número de serie.</h2>
</main>