{{>navbar}}

<main>
	<form class="form-container" action="/productos" method="post">
		<h2>Nuevo equipo</h2>
		<label for="add-product-line">Línea: </label>
		<select name="add-product-line" id="add-product-line">
			<option value="carrocerias">Truck</option>
			<option value="equipos">VP Truck</option>
			<option value="accesorios">Trailer</option>
		</select>
		<br />
		<!-- } -->
		<label for="add-product-model">Modelo: </label>
		<select name="add-product-category" id="add-product-category">
			<option value="equipos">C-250 MAX</option>
			<option value="carrocerias">V-500 MAX</option>
			<option value="accesorios">V-600 MAX</option>
		</select>
		<!-- <input id="add-product-model" type="text" name="add-product-model"> -->
		<input type="text" name="" placeholder="ej. V-500 MAX" />
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>
</main>