{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<h1 class="title">Nuevo equipo</h1>
	<form class="form-container" action="/equipos" method="post">
		<div class="form-field">
			<label for="client">Nombre de Cliente:</label>
			<input type="text" name="clientName" value="{{clientName}}" style="text-transform: uppercase;" readonly />
		</div>
		<div class="form-field">
			<label for="client">ID Cliente:</label>
			<input type="text" name="client" value={{clientId}} readonly />
		</div>
		<div class="form-field">
			<label for="name">Nº Serie</label>
			<input type="text" name="serialNumber" placeholder="29384729" />
		</div>
		<div class="form-field">
			<label for="plate-number">Matrícula:</label>
			<input type="text" id="plate-number" name="plate" placeholder="ATP3739" style="text-transform: uppercase;" />
		</div>
		<div class="form-field">
			<label for="model">Modelo:</label>
			{{!-- <input type="text" name="model" placeholder="V-500" /> --}}
			<select name="model" id="">
				<option value="C-250MAX">C-250 MAX</option>
				<option value="V-500">V-500</option>
				<option value="V-600">V-600</option>
				<option value="V-500MAX">V-500 MAX</option>
				<option value="V-600MAX">V-600 MAX</option>
			</select>
		</div>
		<div class="form-field">
			<label for="hours">Fecha límite de garantía: </label>
			<input type="date" id="warranty-date" name="warrantyDate" placeholder="" />
		</div>
		<div class="form-field" style="display: flex; align-items: center;">
			<label for="soldByReci" style="display: inline; margin-block:0; margin-right: 1rem;">Venta RECI: </label>
			<input type="checkbox" name="soldByReci" id="checkboxByReci">
		</div>
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>
</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}