{{>navbar}}

<script src="https://kit.fontawesome.com/29f13514cf.js" crossorigin="anonymous"></script>
<main style="height: calc(100vh - 80px); position: relative" class="mt-[80px] ">
	{{!-- <h1 class='title'>RECI Importaciones</h1> --}}
	<div class="flex flex-col items-center justify-center w-full ">
		<div class="flex flex-col justify-center items-center py-4 px-8 md:mt-[100px] bg-white/10 rounded-lg">
			<h1 class="text-2xl font-normal text-white">{{message}}</h1>
			<i class="material-icons text-yellow-500 icon-clients" style="font-size: 55px; padding-top: .5rem">warning</i>
			<a href="javascript:history.back()" class="flex flex-row gap-2 bg-emerald-600 border-0 px-4 py-2 text-white">
				<i class="material-icons text-white">arrow_back</i>Volver</a>
		</div>
	</div>

</main>