{{!-- prettier-ignore --}}
{{>navbar}}

<script src="https://kit.fontawesome.com/29f13514cf.js" crossorigin="anonymous"></script>
<main style="height: calc(100vh - 80px); position: relative" class="mt-[80px] ">
	{{!-- <h1 class='title'>RECI Importaciones</h1> --}}
	<div class="flex flex-col items-center justify-center w-full ">
		<div class="grid grid-cols-2 md:grid-cols-3 md:max-w-[600px] lg:max-w-[800px] gap-4 p-4 md:mt-[100px]">
			<a href="/clientes">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					{{!-- <i class="fa-regular fa-users"></i> --}}
					<i class="material-icons icon-clients" style="font-size: 50px; padding-top: .8rem;">group</i>
					<span class="card-home-title">Clientes</span>
				</div>
			</a>
			<a href="/equipos">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients " style="font-size: 50px; padding-top: .8rem;">ac_unit</i>
					<span class="card-home-title ">Equipos</span>
				</div>
			</a>
			<a href="/carrocerias">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 45px; padding-top: .8rem;">local_shipping</i>
					<span class="card-home-title">Carrocerías</span>
				</div>
			</a>
			<a href="/servicios">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 45px; padding-top: .8rem;">build</i>
					<span class="card-home-title">Servicios</span>
				</div>
			</a>
			<a href="/tareas">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 55px; padding-top: .5rem">schedule</i>
					<span class="card-home-title">Tareas</span>
				</div>
			</a>
			<a href="/busqueda">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 55px; padding-top: .5rem">search</i>
					<span class="card-home-title">Buscar</span>
				</div>
			</a>
		</div>
	</div>

	<div style="text-align: center; width: 100%; margin-bottom: 10px; color: white;" class="mt-4">
		{{!-- Actualizaciones --}}
		<div
			class="text-white hidden min-h-[70px] justify-center items-center text-sm pb-4 md:flex flex-col space-y-3 bottom-0 mt-28 w-full text-center">
			<div class="hidden sm:flex text-xs border border-emerald-400/20 bg-emerald-400/10 w-fit p-8 flex-col gap-3">
				<a href="https://reci.uy/actualizaciones" class="group hover:no-underline text-emerald-300/50"
					target="_blank">
					<li class="list-none text-gray-100/80 flex items-center gap-2 text-sm">
						<i class="material-icons text-emerald-400 text-green-400 text-sm">lens</i>
						<span class=" text-slate-200/80 hover:text-emerald-400/80 font-semibold text-sm">Actualización
							1.4
						</span>
						<span class="">•</span> 8/8/24
					</li>
				</a>
				<li class="w-full list-none text-sm">
					<div class=" flex justify-start items-center text-gray-300 text-sm gap-2">
						<i class="material-icons text-green-400 text-[1.1rem]">storage</i>
						<span class="text-slate-200/80 text-sm font-semibold">Último backup </span> <span>•</span> 4/8/24
					</div>
				</li>
			</div>
		</div>

		<a href="/auth/logout" class="hover:underline text-red-300/90">
			Cerrar sesión
		</a>
	</div>
</main>