{{!-- prettier-ignore --}}
{{>navbar}}

<script src="https://kit.fontawesome.com/29f13514cf.js" crossorigin="anonymous"></script>
<main style="height: calc(100vh - 80px); position: relative" class="mt-[80px] ">
	{{!-- <h1 class='title'>RECI Importaciones</h1> --}}
	<div class="flex flex-col items-center justify-center w-full h-[60vh] ">
		<div class="grid-icons-home p-4">
			<a href="/clientes">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					{{!-- <i class="fa-regular fa-users"></i> --}}
					<i class="material-icons icon-clients" style="font-size: 50px; padding-top: .8rem;">group</i>
					<span class="card-home-title">Clientes</span>
				</div>
			</a>
			<a href="/equipos">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients " style="font-size: 50px; padding-top: .8rem;">ac_unit</i>
					<span class="card-home-title ">Equipos</span>
				</div>
			</a>
			<a href="/servicios">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 45px; padding-top: .8rem;">build</i>
					<span class="card-home-title">Servicios</span>
				</div>
			</a>
			<a href="/tareas">
				<div class="container-icon-home hover:bg-white/5 transition-all">
					<i class="material-icons icon-clients" style="font-size: 55px; padding-top: .5rem">schedule</i>
					<span class="card-home-title">Tareas</span>
				</div>
			</a>
		</div>
	</div>

	<div style="text-align: center; width: 100%; margin-bottom: 10px; color: white;" class="mt-4">
		<a href="/auth/logout" class=" hover:underline text-red-300/90">
			Cerrar sesión
		</a>
		{{!-- Actualizaciones --}}
		<div
			class="text-white hidden min-h-[70px] justify-end pb-4 md:flex flex-col space-y-3 bottom-0 mt-12 w-full text-center">
			<a href="https://reci.uy/actualizaciones" class="hover:underline text-emerald-300/50" target="_blank">
				<li class="list-none group text-sm text-gray-100/80">
					<span class=" text-emerald-400/80 mr-1">Actualización 1.2.1 </span> - Enero 2024
				</li>
			</a>
			<li class="w-full list-none text-sm">
				<div class=" flex justify-center items-center text-gray-300 gap-2 ">
					<i class="material-icons text-emerald-400">storage</i>
					<span class="text-emerald-400/80">Último backup: </span><b>20-2-24</b>
				</div>
			</li>
		</div>

	</div>
</main>