{{!-- prettier-ignore --}}
{{>navbar}}

<script src="https://kit.fontawesome.com/29f13514cf.js" crossorigin="anonymous"></script>
<main style="height: calc(100vh - 80px); position: relative" class="mt-[80px]">
	<h1 class='title'>RECI Importaciones</h1>
	<div class="grid-icons-home">
		<a href="/clientes">
			<div class="container-icon-home">
				{{!-- <i class="fa-regular fa-users"></i> --}}
				<i class="material-icons icon-clients" style="font-size: 50px; padding-top: .8rem;">group</i>
				<span class="card-home-title">Clientes</span>
			</div>
		</a>
		<a href="/equipos">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 50px; padding-top: .8rem;">ac_unit</i>
				<span class="card-home-title">Equipos</span>
			</div>
		</a>
		<a href="/servicios">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 45px; padding-top: .8rem;">build</i>
				<span class="card-home-title">Servicios</span>
			</div>
		</a>
		<a href="/tareas">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 55px; padding-top: .5rem">schedule</i>
				<span class="card-home-title">Tareas</span>
			</div>
		</a>
	</div>
	<div class="text-white bottom-0 mt-8 w-full text-center">
		<span class="text-emerald-400 font-semibold">Actualizacion 30/11:</span> Agregados equipos serie <b>C</b> y
		<b>T-1200R</b>
	</div>
	<div
		style="bottom: 0; margin-bottom: 0; position: absolute; text-align: center; width: 100%; margin-bottom: 10px; color: white;">
		<a href="/auth/logout">
			Cerrar sesión
		</a>
	</div>
</main>