{{!-- prettier-ignore --}}
{{>navbar}}

<script src="https://kit.fontawesome.com/29f13514cf.js" crossorigin="anonymous"></script>
<main style="height: calc(100vh - 100px); position: relative">
	<h1 class='title'>RECI Soporte</h1>
	<div class="grid-icons-home">
		<a href="/clientes">
			<div class="container-icon-home">
				{{!-- <i class="fa-regular fa-users"></i> --}}
				<i class="material-icons icon-clients" style="font-size: 70px; padding-top: 1rem;">group</i>
				<span class="card-home-title">Clientes</span>
			</div>
		</a>
		<a href="/equipos">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 70px; padding-top: 1rem;">ac_unit</i>
				<span class="card-home-title">Equipos</span>
			</div>
		</a>
		<a href="/servicios">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 60px; padding-top: 1rem;">build</i>
				<span class="card-home-title">Servicios</span>
			</div>
		</a>
		<a href="/clientes/nuevo">
			<div class="container-icon-home">
				<i class="material-icons icon-clients" style="font-size: 90px">add</i>
				<span class="card-home-title">Nuevo cliente</span>
			</div>
		</a>
	</div>
	<div
		style="bottom: 0; margin-bottom: 0; position: absolute; text-align: center; width: 100%; margin-bottom: 10px; color: white;">
		<a href="/auth/logout">
			Cerrar sesión
		</a>
	</div>
</main>