{{>navbar-login}}

<main>

	<form class="form-container bg-slate-600/20 shadow-xl backdrop-blur form-login flex flex-col gap-6 mt-8"
		action="/auth/login" method="post">
		<h1 class="text-xl font-bold">Ingresar</h1>
		<div class="form-field">
			<label for="email">E-mail</label>
			<input type="email" name="username" placeholder="" style="text-transform: lowercase; " />
		</div>
		<div class="mb-4 form-field">
			<label for="name">Contraseña</label>
			<input type="password" name="password" placeholder="" style="text-transform: uppercase; color: black !important"
				required />
		</div>
		<button class="button-success" role="submit">Ingresar</button>
	</form>
</main>