{{> navbar-login}}

<main>
	<div style="display: flex; flex-direction: column; align-items: center; ">
		<h1 class="title">Error de credenciales</h1>
		<h2 class="subtitle" style="text-align: center; color: tomato;">El e-mail o contraseña ingresados no son correctos.
		</h2>

		<a href="/login"><button class="button-secondary">Volver a intentarlo</button></a>
	</div>
</main>