@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Inter:wght@400;500;600&family=Open+Sans&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0.3rem;
	font-size: 1rem;

	/* VARS */
	--main-dark-blue: hsl(220, 45%, 16%);
	--main-light-gray: hsla(0 0% 83%);
	--secondary-light-gray: hsla(240, 13%, 68%, 0.265);
	--secondary-dark-blue: hsl(220, 40%, 20%);
	--secondary-light-blue: hsl(220, 45%, 51%);
	--secondary-dark-gray: hsl(0, 0%, 43%);
	--primary-success: hsl(150, 45%, 31%);
	--margin-sm: 1.3rem;
}

body {
	background-color: var(--main-dark-blue);
	/* background-color: var(--secondary-dark-blue); */
	font-family: Inter, sans-serif;
}



/* NAVBAR */
nav {
	background-color: var(--main-light-gray);
	padding: var(--margin-sm);
	height: 80px;
	display: flex;
	justify-content: space-between;
	border-radius: 0;
}

nav .nav-links-container {
	/* border: solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 63%;
	font-size: 1.1rem;
	max-width: 450px;
}

.nav-link {
	text-decoration: none;
	color: var(--main-dark-blue);
	font-weight: bold;
}

.nav-link:hover {
	border-bottom: solid 2px var(--main-dark-blue);
}

nav .logo-container {
	height: 100%;
}

.logo-container img {
	height: 100%;
}


/* MAIN */
main {
	margin-inline: var(--margin-sm);
}

input, select {
	background-color: var(--main-light-gray);
	padding: 0.5rem 0.7rem;
	margin-block: 0.5rem;
	margin-inline: 0.5rem 2rem;
	border: solid 1px darkgray;
	height: 38px;
}

button {
	/* height: 38px; */
	border: none;
	font-size: 1.1rem;
	padding-inline: 1.7em;
	padding-block: 0.6em;
	display: block;
	margin-inline-start: auto;
	margin-top: 1.2rem;
	min-width: 150px;
	/* color: var(--main-light-gray); */
	background-color: var(--secondary-light-blue);
	font-weight: 500;
}

.form-container {
	background-color: var(--secondary-dark-blue);

	color: var(--main-light-gray);
	padding: 1.5rem;
	border: 1px solid var(--secondary-light-gray);
	margin-top: 1rem;
}

.form-container h2 {
	margin-bottom: 1rem;
	font-size: 1.3rem;
}

.form-container label {
	display: inline-block;
	margin-bottom: 0.5rem;
	min-width: 4rem;
}

.button-success {
	background-color: var(--primary-success);
	/* color: var(--main-light-gray); */
	color: white;
}