@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Inter:wght@400;500;600&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Noto+Sans:wght@200;300;400;500&display=swap');

* {
	/* padding: 0; */
	margin: 0;
	box-sizing: border-box;
	border-radius: 0.3rem;
	font-size: 1rem;
	font-family: 'Noto Sans';
	font-weight: 300;

	/* VARS */
	--main-dark-blue: hsl(220, 45%, 16%);
	--main-light-gray: hsla(0 0% 83%);
	--secondary-light-gray: hsla(240, 13%, 68%, 0.265);
	--tertiary-light-gray: hsla(0 0% 73%);
	--secondary-dark-blue: hsl(220, 40%, 20%);
	--secondary-light-blue: hsl(222, 75%, 65%);
	--secondary-dark-gray: hsl(0, 0%, 43%);
	--primary-success: hsl(150, 45%, 31%);
	--primary-success-brighter: hsl(150, 65%, 45%);
	--primary-danger: hsl(0, 75%, 60%);
	--margin-sm: 1.3rem;
}

body {
	background-color: var(--main-dark-blue);
	/* background-color: var(--secondary-dark-blue); */
	font-family: Inter, sans-serif;
}

.center {
	margin-inline: auto;
	text-align: center;
}

/* NAVBAR */
nav {
	background-color: var(--main-light-gray);
	border-radius: 0;
}

.nav-content {
	margin-inline: auto;
	padding-inline: var(--margin-sm);
	max-width: 800px;
	padding-block: var(--margin-sm);
	height: 75px;
	display: flex;
	justify-content: space-between;
	border-radius: 0;
	margin-bottom: 1rem;
}

.nav-links-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 53%;
	max-width: 350px;
}

.nav-link {
	text-decoration: none;
	color: var(--main-dark-blue);
	font-family: 'Barlow';
	font-weight: 500;
	font-size: 1.1rem;
	border-bottom: solid 3px rgba(0, 0, 0, 0);
	/* text-transform: uppercase; */
}

.nav-link-active {
	border-bottom: solid 3px var(--main-dark-blue);
}

.nav-link:hover {
	border-bottom: solid 2px var(--main-dark-blue);
	border-radius: 0;
}

.logo-container {
	height: 100%;
}

.logo-container img {
	height: 100%;
	max-width: 130px;
}



/* MAIN */
main {
	padding-inline: var(--margin-sm);
	margin: auto;
	/* max-width: 1000px; */
	max-width: 800px;
}

form input, form select {
	background-color: var(--main-light-gray);
	padding: 0.5rem 0.7rem !important;
	margin-bottom: .5em !important;
	/* margin-inline: 0rem 2rem !important; */
	border: solid 1px darkgray;
	height: 38px;
	cursor: auto;
	color: black;
	width: 100% !important;
}

/* REMOVE NUMBER BUTTONS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

input[readonly], select[readonly] {
	color: var(--primary-success-brighter);
	/* border: solid 1px var(--secondary-light-gray); */
	border: none;
	cursor: default;
	background-color: rgba(255, 255, 255, 0.07);
	font-weight: 500;
	/* background-color: var(--secondary-main-gray); */
}

strong {
	font-weight: 500;
}

button {
	border: none;
	font-size: 1.1rem;
	padding-inline: 1.8em;
	padding-block: 0.6em;
	display: block;
	margin-top: 1rem;
	background-color: var(--secondary-light-blue);
	font-weight: 400;
	cursor: pointer;
	color: white;
}

a {
	color: var(--main-dark-blue);
	text-decoration: none;
}

a :hover {
	text-decoration: underline;
}

section {
	margin-bottom: 3rem;
}


.title {
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	color: var(--main-light-gray);
	font-size: 1.4rem;
	padding-block: .5rem;
	/* text-align: start; */
	text-align: center;
	margin-bottom: 1rem;
}

.subtitle {
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	color: var(--main-light-gray);
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.no-elements {
	margin-bottom: 2rem;
	padding: 1.2rem;
	background-color: var(--main-light-gray);
	color: var(--main-dark-blue);
}

.form-container {
	background-color: var(--secondary-dark-blue);
	color: var(--main-light-gray);
	padding: 1.5rem;
	border: 1px solid var(--secondary-light-gray);
	max-width: 1000px;
	margin-top: 0;
	margin-bottom: 3rem;
	margin-inline: auto;
}

.form-container h2 {
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
}

.form-container label {
	display: block;
	margin-bottom: 0.5rem;
	min-width: 4rem;
	font-weight: 400;
}

.form-field {
	display: inline-block;
}

.form-login {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0 4rem 0;
}

.form-login button {
	background-color: var(--secondary-dark-blue);
}

.form-login input {
	width: 100%;
}

/* NEW SERVICE */
.service-info-container {
	/* border: solid red; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2rem;
	row-gap: 1.4rem;
	margin-bottom: 2.5rem;
}

.service-info-container input {
	width: 100%;
	margin: 0;
}

.service-info-container label {
	margin-top: 0;
}

#fixesContainer, #partsContainer, #nextServiceContainer {
	display: flex;
	/* grid-template-columns: 10fr 1fr; */
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 1.5rem;
}

.parts-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#partsInputsContainer {
	width: 100%;
}

#partsInputsContainer input[type=number] {
	margin: .3rem !important;
	width: 30%;
}

#partsInputsContainer input[type=text] {
	margin: .3rem !important;
	width: 70%;
}

#addPartRowButton {
	align-self: end;
}

#fixesInputsContainer, #nextServiceInputsContainer {
	width: 100%;
}

.fixes-row {
	display: flex;
	justify-content: space-between;
	width: 100% !important;
	align-items: center;
}

.fixes-row input {
	/* margin: .3rem; */
	width: 100%;
}

.item-number {
	text-align: center;
	font-weight: bold;
	width: 40px !important;
	color: var(--secondary-light-gray);
	display: inline;
}

#addFixesRowButton, #addPartRowButton, #addNextServiceRowButton {
	width: fit-content;
	height: fit-content;
	align-self: end;
	padding: 0;
	margin: 0;
	background: none;
}

.icon-add-item {
	color: var(--primary-success);
	/* color: var(--secondary-light-gray); */
	margin-bottom: 0;
	padding: 0;
	margin: 0;
	display: inline;
}

.icon-add-item:hover {
	color: var(--primary-success-brighter);
	cursor: pointer;
}

.checkbox {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2);
	/* IE */
	-moz-transform: scale(2);
	/* FF */
	-webkit-transform: scale(2);
	/* Safari and Chrome */
	-o-transform: scale(2);
	/* Opera */
	transform: scale(2);
	/* padding: 10px; */
	margin: 0 !important;
	margin-inline-start: 0.5rem;
	padding: 0;
	display: inline;
	cursor: pointer;

}

.button-success {
	padding-inline: 1em;
	padding-block: .5em;
	min-width: 150px;
	background-color: var(--main-dark-blue);
	border: solid 2px var(--primary-success-brighter);
	font-weight: 500;
	color: var(--primary-success-brighter);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.button-success:hover {
	background-color: var(--primary-success-brighter);
	border: solid 2px var(--primary-success-brighter);
	color: var(--main-dark-blue);
}

.button-success i {
	margin-right: .5rem;
}

.button-form {
	min-width: 150px;
	margin-inline-start: auto;
	background-color: var(--secondary-dark-blue);
}


.button-new {
	padding-inline: 1em;
	padding-block: .5em;
	margin-inline: auto;
	margin-bottom: 1.5rem;
	background-color: var(--main-dark-blue);
	border: solid 2px var(--secondary-light-blue);
	color: var(--secondary-light-blue);
	display: flex;
	align-content: center;
}

.button-new i {
	margin-right: .4rem;
}

.button-new:hover {
	background-color: var(--secondary-light-blue);
	color: var(--main-dark-blue);
}

.button-danger {
	padding-inline: 1em;
	padding-block: .5em;
	background-color: var(--main-dark-blue);
	border: solid 2px var(--primary-danger);
	color: var(--primary-danger);
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.button-danger:hover {
	background-color: var(--primary-danger);
	color: var(--main-dark-blue);
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-inline: auto;
	max-width: 400px;
}

.button-container>* {
	margin: 0;
}

.button-alert-danger {
	padding-inline: 1em;
	padding-block: .5em;
	background-color: var(--primary-danger) !important;
	border: solid 2px var(--primary-danger);
	color: white;
	margin-right: 1.5rem;
	min-width: 120px;
}

.button-alert-cancel {
	padding-inline: 1.2em;
	padding-block: .5em;
	background-color: gray !important;
	color: white;
	min-width: 120px;
}

.go-back {
	background-color: var(--main-dark-blue);
	border: solid var(--secondary-light-gray) 1px;
	margin: 0 .2rem 1.5rem;
	color: var(--main-light-gray);
	padding-inline: 1rem;
	width: fit-content;
	height: 40px;
	min-width: 4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.go-back:hover {
	background-color: var(--secondary-dark-blue);
	border: solid var(--main-light-gray) 1px;
	color: white;
}

.table-container {
	border-radius: 4px;
	padding: 0px;
	/* border: solid 1px var(--main-light-gray); */
	margin-inline: auto;
	margin-bottom: 2rem;
	width: 100%;
	overflow-x: scroll;
	/* width: fit-content; */
}

table {
	/* background-color: var(--main-light-gray); */
	background-color: #F3F4F6;
	padding: 2em;
	padding-bottom: 4rem;
	border-collapse: collapse;
	/* border: solid 1px var(--main-light-gray); */
	/* border: none; */
	width: 100%;
	overflow-x: scroll;
}

tr {
	border: solid 1px var(--secondary-light-gray);
	margin-block: .5em;
	padding: 1em;
	border-radius: 0;
	/* background-color: red; */
}

tr:hover {
	background-color: var(--secondary-light-gray);
}

.table-center {
	text-align: center;
}

.table-icon-container {
	width: 100%;
	height: 100%;
}

.table-icon-container img {
	object-fit: contain;
	/* width: 100%; */
	width: 1rem;
	height: 100%;
}

th {
	padding: 1em;
	text-align: start;
	border-radius: 3px;
	font-weight: 500;
}

td {
	overflow-x: hidden;
	border: none;
	height: 50px;
	border-radius: 0;
	max-width: 30vw;
}

td a {
	width: 100%;
	height: 100%;
	display: inline-block;
	/* max-height: 2rem; */
	white-space: nowrap;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding-block: .8em;
	padding-inline: 1em;
}

#client-name-td {
	padding-block: .8em;
	padding-inline: 1em;
}

.td-email {
	max-width: 190px;
}

.table-headers-row:hover {
	background-color: var(--main-light-gray);
}

.card-home-title {
	font-family: 'Barlow';
	font-weight: 500;
	font-size: 1.1rem;
}

.grid-icons-home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.7rem;
	/* border: solid red; */
}

.container-icon-home {
	border: solid var(--secondary-light-gray);
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	place-content: center;
	justify-content: space-between;
	padding-block: 1rem;
	background-color: var(--secondary-dark-blue);
	border: solid var(--secondary-light-gray);
	padding-inline: 0;
}

.container-icon-home:hover {
	border: solid var(--main-light-gray);
}

.container-icon-home span {
	color: var(--main-light-gray);
	font-size: 1.15rem;
	/* margin-bottom: 1rem; */
	bottom: 0;
}

.icon-clients {
	color: var(--main-light-gray);
	margin-bottom: 1rem;
}

.response-success {
	font-weight: 600;
	font-size: 1.2rem;
	color: var(--primary-success);
	padding: 1rem;
	text-align: center;
	margin-inline: auto;
	display: block;
}


@media (max-width:500px) {
	.nav-links-container {
		display: none;
	}
}