@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Inter:wght@400;500;600&family=Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0.3rem;
	font-size: 1rem;

	/* VARS */
	--main-dark-blue: hsl(220, 45%, 16%);
	--main-light-gray: hsla(0 0% 83%);
	--secondary-light-gray: hsla(240, 13%, 68%, 0.265);
	--secondary-dark-blue: hsl(220, 40%, 20%);
	--secondary-light-blue: hsl(220, 45%, 51%);
	--secondary-dark-gray: hsl(0, 0%, 43%);
	--primary-success: hsl(150, 45%, 31%);
	--margin-sm: 1.3rem;
}

body {
	background-color: var(--main-dark-blue);
	/* background-color: var(--secondary-dark-blue); */
	font-family: Inter, sans-serif;
}



/* NAVBAR */
nav {
	background-color: var(--main-light-gray);
	padding: var(--margin-sm);
	height: 80px;
	display: flex;
	justify-content: space-between;
	border-radius: 0;
}

nav .nav-links-container {
	/* border: solid red; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 63%;
	font-size: 1.1rem;
	max-width: 350px;
}

.nav-link {
	text-decoration: none;
	color: var(--main-dark-blue);
	font-weight: bold;
	border-bottom: solid 2px rgba(0, 0, 0, 0)
}

.nav-link-active {
	border-bottom: solid 3px var(--main-dark-blue);
}

.nav-link:hover {
	border-bottom: solid 2px var(--main-dark-blue);
	border-radius: 0;
}

nav .logo-container {
	height: 100%;
}

.logo-container img {
	height: 100%;
}



/* MAIN */
main {
	margin-inline: var(--margin-sm);
	margin-block: 2rem;
}

input, select {
	background-color: var(--main-light-gray);
	padding: 0.5rem 0.7rem;
	margin-bottom: 1.5em;
	margin-inline: 0rem 2rem;
	border: solid 1px darkgray;
	height: 38px;
}

button {
	/* height: 38px; */
	border: none;
	font-size: 1.1rem;
	padding-inline: 1.7em;
	padding-block: 0.6em;
	display: block;
	/* margin-inline-start: auto; */
	margin-top: 1rem;
	min-width: 150px;
	/* color: var(--main-light-gray); */
	background-color: var(--secondary-light-blue);
	font-weight: 500;
	cursor: pointer;
	color: white;
}

a {
	text-decoration: none;
	color: var(--main-dark-blue)
}

.title {
	color: var(--main-light-gray);
	font-size: 2rem;
	padding-block: 1rem;
	text-align: center;
}

.subtitle {
	color: var(--main-light-gray);
	font-size: 1.5rem;
	padding-block: 1rem;
	text-align: center;
	margin-bottom: 0.5rem;
}

.form-container {
	background-color: var(--secondary-dark-blue);
	color: var(--main-light-gray);
	padding: 1.5rem;
	border: 1px solid var(--secondary-light-gray);
	max-width: 800px;
	margin: 0;
	margin-inline: auto;
}

.form-container h2 {
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
}

.form-container label {
	display: block;
	margin-bottom: 0.5rem;
	min-width: 4rem;
}

.form-field {
	/* border: solid red; */
	display: inline-block;
}

.button-form {
	margin-inline-start: auto;
}

.button-success {
	background-color: var(--primary-success);
	/* color: var(--main-light-gray); */
	color: white;
}

.button-new {
	margin-inline: auto;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-inline: auto;
	max-width: 400px;
}

.button-container>* {
	margin: 0;
	/* padding: 0; */

}

.table-container {
	border-radius: 4px;
	padding: 0px;
	border: solid 1px var(--secondary-dark-gray);
	margin-inline: auto;
	margin-bottom: 2rem;
	width: fit-content;
}

table {
	background-color: var(--main-light-gray);
	padding: 2em;
	border-collapse: collapse;
	border: none;
}

tr {
	border: solid 1px var(--secondary-dark-gray);
	margin-block: .5em;
	padding: 1em;
	border-radius: 0;
	/* background-color: red; */
}

.table-center {
	text-align: center;
}

.table-icon-container {
	width: 100%;
	height: 100%;
}

.table-icon-container img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

th {
	padding: 1em;
	text-align: center;
	border-radius: 3px;
}


td {
	padding-block: .8em;
	padding-inline: 1.5em;
	border: none;
	height: 50px;
}

.response-success {
	font-weight: 600;
	font-size: 1.2rem;
	color: var(--primary-success);
	padding: 1rem;
	text-align: center;
	margin-inline: auto;
	display: block;
}


@media (min-width:400px) {}