<nav class="fixed top-0 w-full p-0 m-0 shadow-lg bg-white/90 backdrop-blur-lg">
	<div class="flex gap-5 nav-content">
		<a href="/">
			<div class='logo-container'>
				<img src='/assets/logo.png' alt='' />
			</div>
		</a>
		<div class='items-center justify-between hidden sm:flex sm:w-1/2'>
			<a class='nav-link' href='/clientes'>Clientes</a>
			<a class='nav-link' href='/equipos'>Equipos</a>
			<a class='nav-link' href='/carrocerias'>Carrocerias</a>
			<a class='nav-link' href='/servicios'>Servicios</a>
			<a class='nav-link' href='/tareas'>Tareas</a>
			{{!-- <a class="nav-link material-icons" href="/auth/logout" style="color: #C50C00; border-bottom: none;">logout</a> --}}
		</div>
		<div>
			<form action="/buscar" method="GET" class="flex items-center gap-2">
				<input type="text" hidden value="todos" name="type">
				<input name="query" placeholder="Buscar matrícula"
					class="inline w-3/4 w-[70%] h-10 px-5 border-slate-400/80 border text-slate-800 m-0 mx-auto mb-0 bg-gray-200 rounded-full"
					style="margin: 0 !important;">
				</input>
				<button type="submit"
					class="inline py-[7px] w-[40px] rounded-full hover:shadow-lg transition hover:border-slate-900/10 border w-1/4 self-center rounded-full p-2"><i
						class="inline text-slate-800 material-icons">search</i></button>
			</form>
		</div>
	</div>
</nav>

<script>
	const navLinks = document.querySelectorAll('.nav-link');
	navLinks.forEach(link => {
		if (window.location.pathname.includes(link.getAttribute('href'))) {
			link.classList.add('nav-link-active');
		}
	});

	// hide nav links on home page
	if (window.location.pathname === '/') {
		navLinks.forEach(link => link.style.display = 'none');
	}
</script>