<nav class="fixed top-0 w-full p-0 m-0 bg-gray-100 shadow-xl">
	<div class="nav-content">
		<a href="/">
			<div class='logo-container'>
				<img src='/assets/logo.png' alt='' />
			</div>
		</a>
		<div class='items-center justify-between hidden sm:flex sm:w-1/2'>
			<a class='nav-link' href='/clientes'>Clientes</a>
			<a class='nav-link' href='/equipos'>Equipos</a>
			<a class='nav-link' href='/servicios'>Servicios</a>
			<a class='nav-link' href='/tareas'>Tareas</a>
			<a class="nav-link material-icons" href="/auth/logout" style="color: #C50C00; border-bottom: none;">logout</a>
		</div>
	</div>
</nav>