<nav class="bg-slate-100">
	<div class="nav-content">
		<a href="/">
			<div class='logo-container'>
				<img src='/assets/logo.png' alt='' />
			</div>
		</a>
		<div class='nav-links-container'>
		</div>
	</div>
</nav>